<h1 class="headline">Edit</h1>

<% if @list.errors.any? %>
  <%= @list.errors.count %>件のエラーが発生しました
  <ul>
    <% @list.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @list,url: list_path(@list.id),method: :patch do |f| %>

　<div class="form-area">
    <div class="form-group">
      <div>
        <span class="form-label">Title</span>
        <div>
          <%= f.text_field :title %>
        </div>
      </div>
      <div>
        <span class="form-label">Body</span>
        <div>
          <%= f.text_area :body %>
        </div>
      </div>
      <div>
        <span class="form-label">Image</span>
        <div>
          <%= f.file_field :image, accept: "image/*" %>
        </div>
      </div>
      <div>
        <%= f.submit '投稿' %>
      </div>
    </div>
  </div>

<% end %>