<div class="list-detail-box">
  <div class="list-detail-group">
    <div>
      <h2>TITLE</h2>
      <p><%= @list.title %></p>
    </div>
    <div>
      <h2>BODY</h2>
      <p><%= @list.body %></p>
    </div>
    <div>
      <h2>IMAGE</h2>
      <%= image_tag @list.image, size: "300x300"%>
    </div>
    <div>
      <%= link_to "編集", edit_list_path(@list.id) %>
      <%= link_to "削除", list_path(@list.id),method: :delete, "data-confirm" => "本当に削除しますか？" %>
    </div>
  </div>
</div>